/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: large;
    margin: 15px;
  }

article {

  }

h1 {
    font-size: x-large;
  }

h2 {

  }

img {
      max-width: 100%;
  }

main {

  }

section {

  }

figure {
      margin-bottom: 30px;
  }

figcaption {
    font-size: .8em;
  }

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: aqua;
        font-size: large;
        margin: 10px;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    img {
        width: 290px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: pink;
        font-size: large;
        margin: 10px;
        max-width: max-content;
    }
}