body {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 0;
  text-align: center;
}

#color-palette {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 30em;
}

.color {
  border: black 1px solid;
  height: 5em;
  padding: 10px;
}

#pixel-board {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  max-width: 50em;
  padding: 25px;
}

.pixel {
  border: black 1px solid;
  height: 5em;
  padding: 10px;
}
