div:hover {
    border: black 1px solid;
}

div:nth-child(3) {
    background-color: yellow;
    color: red;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

div:nth-child(4) {
    background-color: red;
    color: blue;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div:nth-child(5) {
    background-color: blue;
    color: green;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
}

div:nth-child(6) {
    background-color: green;
    color: bisque;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div:nth-child(7) {
    background-color: bisque;
    color: yellow;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div:nth-child(odd) {
    font-style: italic;
}