ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1, h2, h3 em {
    font-size: 40px;
    border: black 1px solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.languages li:nth-child(1), .languages li:nth-child(2), .languages li:nth-child(3) {
    color: blue;
}

.java {
    background-color: pink;
}

.links li:hover {
    font-weight: bold;
}

.stackoverflow:hover {
    color: orange;
}

.w3schools:hover, .trybe:hover {
    color: green;
}

.mdnwebdocs:hover {
    color: black;
}

.devdocs:hover {
    color: yellow;
}